@import 'styles/color';
@import 'styles/bootstrap';
@import './assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css';
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($item, $duration, $motion) {
    transition: $item $duration $motion;
    -webkit-transition: $item $duration $motion;
    -moz-transition: $item $duration $motion;
    -o-transition: $item $duration $motion;
}

@mixin align-items($position) {
    -webkit-box-align: $position;
    -ms-flex-align: $position;
    align-items: $position;
}

@mixin justify-content($position) {
    -webkit-box-pack: $position;
    -ms-flex-pack: $position;
    justify-content: $position;
}

body,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

* {
    outline: none;
}

.clear-padding {
    padding-left: 0;
    padding-right: 0;
}

.hidden {
    display: hidden;
}

.show {
    display: block;
}

.decrease-scale {
    transform: scale(0);
    display: none;
}

.increase-scale {
    transform: scale(1);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
label {
    -webkit-font-smoothing: antialiased;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.full-width {
    width: 100%;
}

// Material design style
// For ripple effect
.ripplelink {
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
    z-index: 0;
}

.ink {
    position: absolute;
    background-color: color("grey", "darken-1");
    display: block;
    @include border-radius(100%);
    transform: scale(0);
}

.animate {
    animation: ripple 0.65s linear;
}

.boxes {
    padding: 15px;
    background-color: color("grey", "darken-3");
    margin: auto;
    padding: 50px;
}

// For underline effect
.bar {
    display: block;
    width: 100%;
    position: relative;
    &:before,
    &:after {
        content: '';
        background-color: color("cyan", "darken-1");
        height: 2px;
        position: absolute;
        width: 0;
        bottom: 0;
        @include transition(all, 0.3s, ease-in-out);
    }
    &:before {
        left: 50%;
    }
    &:after {
        right: 50%;
    }
}

// For checkbox
.check-block {
    position: relative;
    margin-top: 30px;
    margin-bottom: 18px;
    height: 30px;
    box-sizing: border-box;
}

.right-checkbox {
    display: none;
}

.right-checkbox+label {
    color: color("grey", "lighten-1");
    font-weight: 300;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    &:last-child {
        margin-bottom: 0px;
    }
    &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid color("cyan", "darken-1");
        position: absolute;
        top: 0;
        left: 0;
        @include transition(all, 0.2s, ease);
    }
}

.right-checkbox:checked+label:before {
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    top: -5px;
    left: 5px;
    width: 10px;
    border-width: 3px;
}

// For radio button
input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: block;
    font-weight: 300;
    color: color("grey", "lighten-1");
    padding-left: 35px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    &:before,
    &:after {
        cursor: pointer;
        position: absolute;
        content: '';
        @include transition(all, 0.2s, ease);
    }
    &:before {
        width: 20px;
        height: 20px;
        top: 0;
        left: 15px;
        border: 1px solid color("cyan", "darken-1");
        background-color: color("shades", "white");
        @include border-radius(100%);
    }
    &:after {
        top: 10px;
        left: 25px;
        width: 40px;
        height: 40px;
        opacity: 0;
        background-color: color("cyan", "lighten-4");
        transform: translate(-50%, -50%) scale(0);
        @include border-radius(50%);
    }
}

input[type='radio']:checked+label:before {
    box-shadow: inset 0 0 0 4px color("shades", "white");
    background-color: color("cyan", "darken-1");
}

input[type='radio']:checked+label:after {
    transform: translate(-50%, -50%) scale(1);
    animation: static-ripple 1s none;
}

// Form input block
.input-box {
    height: 30px;
    box-sizing: border-box;
    position: relative;
    input[type='text'] {
        outline: none;
        height: 30px;
        width: 100%;
        padding-left: 5px;
        font-weight: 400;
        font-size: 14px;
        border-width: 0 0 1px 0;
        border-color: color("grey", "lighten-2");
        &:focus~label {
            top: -20px;
            left: 0;
            color: color("cyan", "darken-1");
        }
        &:focus~.bar:before,
        &:focus~.bar:after {
            width: 50%;
        }
    }
    label {
        color: color("grey", "base");
        position: absolute;
        top: 3px;
        left: 5px;
        pointer-events: none;
        @include transition(all, 0.3s, ease-in-out);
        font-size: 13px;
    }
}

// error message styling
.error-message {
    color: color("materialize-red", "darken-1");
    position: absolute;
    bottom: -20px;
    font-size: 12px;
}

// Form and dropdown common styling
.input-box {
    margin-top: 30px;
    margin-bottom: 18px;
    input[type='text']~label {
        left: 20px;
        font-weight: 500;
    }
    input[type='text']:focus~label {
        left: 15px;
    }
    .label-active {
        left: 15px !important;
        top: -20px;
        color: color("cyan", "darken-1");
    }
}

// dropdown styling
input[data-type="dropdown"] {
    cursor: text;
}

.drop-box {
    pointer-events: none;
    border-top: 10px solid #DDD;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    vertical-align: bottom;
    position: absolute;
    bottom: 12px;
    right: 25px;
}

.drop-box-data {
    display: block;
    z-index: 2;
    @include transition(all, 0.3s, ease-in-out);
    transform-origin: 100% 0%;
    overflow-y: auto;
    max-height: 300px;
    position: absolute;
    text-align: center;
    top: -7px;
    left: 15px;
    right: 15px;
    background-color: #FFF;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    ul {
        li {
            padding: 15px;
            cursor: pointer;
            @include transition(all, 0.2s, ease-in-out);
            &:hover {
                background-color: color("grey", "lighten-3");
            }
        }
    }
    .ripplelink {
        .ink {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.on-mouse-over {
    background-color: #EEE;
}

// On or off effect button
.lbl {
    height: 20px;
    width: 44px;
    position: relative;
    background-color: color("grey", "lighten-2");
    display: block;
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: 100px;
}

.lbl:after {
    content: '';
    height: 26px;
    width: 26px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -1px;
    background-color: color("grey", "darken-2");
    transition: all 0.2s ease;
}

.lbl:active:after {
    transform: scale(1.15, 0.85);
}

.check-box:checked~label {
    background: color("cyan", "lighten-4");
}

.check-box:checked~label:after {
    left: 20px;
    background: color("cyan", "darken-1");
}

.check-box {
    display: none;
}

// header design
.header {
    z-index: 10;
    padding: 15px;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    position: fixed;
    height: 65px;
    top: 0;
    left: 0;
    right: 0;
    background-color: color("shades", "white");
}

.nav-ico {
    width: 30px;
    height: 30px;
    @include border-radius(50%);
    text-align: center;
    cursor: pointer;
}

.head-icon {
    width: 60px;
}

.head-title {
    display: inline-block;
}

.head-option,
.head-search {
    display: block;
    text-align: center;
    float: right;
    width: 35px;
    height: 35px;
    @include border-radius(50%);
    cursor: pointer;
    line-height: 35px;
    margin-right: 5px;
}

.head-option:hover {
    background-color: color("grey", "lighten-2");
}

.head-option.ripplelink>.ink {
    background-color: color("grey", "darken-4");
}

.head-search {
    display: block;
    float: right;
    cursor: pointer;
}

// Left menu design
.left-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: color("grey", "darken-3");
    color: color("grey", "lighten-1");
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            cursor: pointer;
            @include transition(all, 0.2s, ease-in-out);
            &:hover {
                background-color: color("amber", "accent-4");
                color: color("grey", "darken-3");
            }
        }
    }
}

.menu-name,
.menu-ico {
    display: inline-block;
}

.menu-name {
    vertical-align: super;
}

.menu-ico {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
}

.profile-img {
    background-image: url('./assets/img/businessman.png');
    margin: 15px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.home-ico {
    background-image: url('./assets/img/house.png');
}

.calendar-ico {
    background-image: url('./assets/img/curriculum.png');
}

.report-ico {
    background-image: url('./assets/img/report.png');
}

// Right content
// Header switch tab
.tab-wrapper {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tab-label-content {
    width: 100%;
    .tab-content {
        position: absolute;
        top: 57px;
        left: 0;
        display: none;
    }
}

.tab-label-content>label {
    color: color("grey", "darken-1");
    font-weight: 500;
    cursor: pointer;
    background-color: color("grey", "lighten-4");
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    @include align-items(center);
    @include justify-content(center);
    text-align: center;
    width: 100%;
    height: 56px;
    @include transition(color,
    0.3s,
    ease);
}

input[type='radio'][name='demographic-tabs'] {
    position: absolute;
    z-index: -1;
}

input[type='radio'][name='demographic-tabs']:checked+.tab-label-content>label {
    color: color("grey", "darken-4");
}

input[type='radio'][name='demographic-tabs']:checked+.tab-label-content .tab-content {
    display: block;
}

input[type='radio'][name='demographic-tabs']:nth-of-type(1):checked~.slide {
    left: calc((100%/4)*0);
}

input[type='radio'][name='demographic-tabs']:nth-of-type(2):checked~.slide {
    left: calc((100%/4)*1);
}

input[type='radio'][name='demographic-tabs']:nth-of-type(3):checked~.slide {
    left: calc((100%/4)*2);
}

input[type='radio'][name='demographic-tabs']:nth-of-type(4):checked~.slide {
    left: calc((100%/4)*3);
}

input[type='radio'][name='demographic-tabs']:first-of-type:checked~.slide {
    left: 0;
}

.slide {
    background-color: color("amber", "accent-4");
    width: calc(100%/4);
    position: absolute;
    left: 0;
    height: 4px;
    bottom: 0;
    @include transition(left,
    0.3s,
    ease-in-out);
}

// Next button
.pos-center {
    margin: 0 auto;
    width: 120px;
    width: -moz-fit-content;
    margin-bottom: 25px;
}

.pos-single {
    margin: 0 auto;
    width: 40px;
    width: -moz-fit-content;
    margin-bottom: 25px;
}

.prev-btn {
    margin-right: 30px;
}

.next-btn,
.prev-btn,
.save-btn {
    @include border-radius(50%);
    color: color("shades", "white");
    width: 40px;
    height: 40px;
    margin-top: 40px;
    background-color: color("cyan", "darken-1");
    cursor: pointer;
    border: 0;
    line-height: 40px;
    @include transition(all,
    0.3s,
    ease-in-out);
    &:hover {
        box-shadow: 0 0 6px color("grey", "darken-2");
        background-color: color("cyan", "darken-1");
        color: color("shades", "white");
    }
}

.submit-btn {
    border: 0;
    padding: 10px 15px;
    text-indent: capitalize;
    font-weight: 400;
    width: 100%;
    color: #FFF;
    background-color: color("cyan", "darken-1");
    @include transition(all,
    0.3s,
    ease-in-out);
    .ink {
        background-color: color("cyan", "lighten-1");
    }
    &:hover {
        box-shadow: 2px 2px 6px color("grey", "darken-2");
        background-color: color("cyan", "darken-1");
        color: color("shades", "white");
    }
}

// Animated materials
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

@keyframes static-ripple {
    100% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
}

// Responsive design
@media only screen and (max-width: 767.9px) {
    .overlay-content {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 80px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        @include transition(all,
        0.3s,
        ease-in-out);
    }
}

@media only screen and (max-width: 991.9px) {
    .head-icon {
        display: block !important;
    }
    .left-nav {
        z-index: 100;
        width: 0;
        @include transition(width,
        0.3s,
        ease-in-out);
    }
    .left-nav-active {
        width: 80px;
    }
    .right-nav {
        @include transition(all,
        0.3s,
        ease-in-out);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.9px) {
    .header {
        @include transition(all,
        0.3s,
        ease-in-out);
    }
    .left-nav-active~.header,
    .left-nav-active~.right-nav {
        width: calc(100%-80px);
        margin-left: 80px;
    }
}

@media only screen and (max-width: 1199.9px) {
    .profile-img {
        background-color: color("grey", "darken-4");
        width: 24px;
        height: 24px;
        background-size: cover;
        background-color: transparent;
    }
    .profile {
        @include transition(all,
        0.2s,
        ease-in-out);
        cursor: pointer;
        &:hover {
            background-color: color("amber", "accent-4");
        }
    }
    .left-nav {
        ul {
            li:first-child {
                margin-top: 0;
            }
            li {
                padding: 15px;
                .menu-ico {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .profile {
        background-image: url('./assets/img/profile-background.jpg');
        height: 150px;
    }
    .profile-img {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.75);
        @include border-radius(50%);
    }
    .left-nav {
        font-size: 17px;
        font-weight: 600;
        ul {
            li:first-child {
                margin-top: 10px;
            }
            li {
                padding: 15px 10px 15px 20px;
                .menu-ico {
                    margin-right: 10px;
                }
            }
        }
    }
    .profile-info {
        position: relative;
        display: block;
        button {
            position: absolute;
            bottom: 0px;
            background-color: color("grey", "darken-2");
            color: color("grey", "lighten-3");
            border: 0;
            padding: 5px 10px;
            border-radius: 3px;
            @include transition(all,
            0.2s,
            ease-in-out);
            &:hover {
                background-color: color("amber", "accent-4");
                color: color("grey", "darken-3");
            }
        }
        .profile-edit {
            left: 15px;
        }
        .profile-logout {
            right: 15px;
        }
    }
}

// Chrome scroll bar
::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: color("shades", "black");
}

::-webkit-scrollbar-thumb {
    background: color("grey", "lighten-1");
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px color("grey", "darken-4");
}

::-webkit-scrollbar-corner {
    background: color("shades", "black");
}